.component__wrap.friends {
  width: 100%;
  .comp__header {
    width: 100%;
    height: 47.5rem;
    background-image: url('../assets/images/friends_page/friends__bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comp__title__block {
    padding: 2.2rem 2rem;
    background-color: rgba(250, 250, 251, 0.9);
    border-radius: 0.5rem;
  }
  .comp__title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.6rem;
    color: #333333;
    font-weight: 400;
  }
  .comp__wrapper {
    width: 100%;
    max-width: 100rem;
    margin: auto;
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
  }
}
